[run]
branch = True
source = motmot

[report]
ignore_errors = True
fail_under = 100
show_missing = True

exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:

# Coverage from tests in tests/test_laziness.py don't count.
contexts = ^(?!\w+[.]test_laziness[.]\w+)
